@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root
{
    --bg-black-900:#f2f2fc;
    --bg-black-100:#fdf9ff;
    --bg-black-50:#e8dfec;
    --text-black-900:#302e4d;
    --text-black-700:#504e70;
    --btn-red:#ff1a1a;
    --section-bg:#FFF0F5;
}

body
{
 line-height: 1.5;
 font-size: 16px;;
 font-family: "Times New Roman", Times, serif;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;

}

ul
{
  list-style : none;

}

.section

{
    background: var(--section-bg);
    min-height: 100vh;
    display: block;
    padding: 0 30px;
    opacity: 1;
    position: fixed;
    left: 270px;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.3s ease;
}
.section.back-section
{
    z-index: 1;
}
.section.active
{
    z-index: 2;
    opacity: 1;
    animation: slideSection 1s ease;
}
@keyframes sideSection
{
    0%
    {
        transform: translateX(100%);
    }
    100%
    {
        transform: translateX(0%);
    }

}

/* .main-content
{
    padding-left: 270px;
} */
.padd-15
{
    padding-left: 15px;
    padding-right: 15px;

}
.container
{
    max-width: 1100px;
    width: 100%;
    margin: auto;
}
/*.section .container
{
    padding-top: 60px;
    padding-bottom: 70px;
}*/

.section-title
{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}
.section-title h2
{
    font-size: 40px;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
    top:30px;
}

.row
{
    display:flex ;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}

.btn
{
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    margin-left: 20px;
    color: white;
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    border: none;
    background: var(--btn-red);
    transition: all 0.3s ease;
    cursor: pointer;
}
.btn:hover
{
    transform: scale(1.05);
}

/* Aside */
.aside
{
 width: 270px;
 background: var(--bg-black-100);
 position: fixed;
 left:0;
 top: 0;
 padding: 30px;
 height: 100%;
 border-right: 1px solid var(--bg-black-50);
 display: flex;
 justify-content: center;
 align-items: center;
 z-index: 10;
 transition: all 0.3s ease;
}

.aside .logo
{
    position: absolute;
    top: 50px;
    font-size: 30px;
    text-transform: capitalize;
}
.aside .logo a
{
    color: var(--text-black-900);
    font-weight: 700;
    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 5px;
    position: relative;
}

.site-logo{
  width:100px;
  height: 100px;
}

.aside .nav-toggler
{
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background: var(--bg-black-100);
    display: none;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.aside .nav-toggler span
{
    height: 2.4px;
    width: 18px;
    background-color: var(--btn-red);
    display: inline-block;
    position: relative;

}
.aside .nav-toggler.open span
{
    background-color: transparent;
}
.aside .nav-toggler span::before
{
    content: ' ';
    height: 2px;
    width: 18px;
    background: var(--btn-red);
    position: absolute;
    top: -6px;
    left: 0;
}
.aside .nav-toggler.open span::before
{
      transform: rotate(45deg);
      top: 0;
}
.aside .nav-toggler span::after
{
    content: ' ';
    height: 2px;
    width: 18px;
    background: var(--btn-red);
    position: absolute;
    top: 6px;
    left: 0;
}
.aside .nav-toggler.open span::after
{
      transform: rotate(-45deg);
      top: 0;
}
.aside .nav
{
    margin-top: 50px;

}
.aside .nav li
{
  margin-bottom: 20px;
  display: block;

}
.aside .nav li a{
    font-size: 18px;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid var(--bg-black-50);
    color: var(--text-black-900);
    padding: 5px 15px;
}
.aside .av li a.active
{
    color: var(--btn-red);

}
.aside .nav li a i
{
    margin-right: 15px;
}

/*home*/

.home{
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
}
/*.home .home-info
{
    flex: 0 0 60%;
}
h3.intro
{
    font-size: 20px;
    margin: 15px 0;
    position: relative;
    top:100px;
}
h3.intro span
{
    font-family: 'Poppins' sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: var(--skin-color);
    position: relative;
    left:230px;
}
h3.my-profession
{
    font-size: 30px;
    margin: 15px 0;
}
.typing
{
    color: var(--skin-color);
}
.home .home-info
{
    margin-bottom: 70px;
    font-size: 20px;
    color: var(--text-black-700);
}
*/

h3.intro
{
    font-size: 28px;
    margin: 15px 0;
    position: relative;
    bottom:80px;
    left: 40px;
}

h3.intro span
{
    font-family: 'Poppins' sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: var(--btn-red);
    position: relative;
    left:227px;

}
h3.my-profession
{
    font-size: 30px;
    margin: 15px 0;
    position: relative;
    left: 40px;
    bottom:50px;
}
.typing
{
    color: var(--btn-red);
}
.home-content{
  margin-left: 40px;
  font-size: 18px;
}
.home-img
{
    height:700px;
    width: 700px;
    border-radius:900px 0px 20px 200px;
    float: right;
    position: relative;
    left:82px;
    bottom:23px;
}

/* services */
.section .container
{
    padding-bottom: 40px;
}
.service .service-item
{
    margin-bottom: 30px;
    flex: 0 0 33.33%;
    max-width: 33.33%;
}
.service .service-item .service-item-inner
{
    background-color: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    padding: 30px 15px;
    text-align: center;
    transition: all 0.3S ease;
}
.service .service-item .service-item-inner:hover
{
    box-shadow: 0 0 40px rgba(48, 46, 77, 0.15);
    transform: scale(1.05);
}
.service .service-item .service-item-inner .icon
{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 30px;
    text-align: center;
    transition: all 0.3s ease;
}
.service .service-item .service-item-inner .icon .fa
{
    font-size: 40px;
    line-height: 60px;
    color: var(--btn-red);
    transition: all 0.3s ease;
}
/*.service .service-item .service-item-inner:hover .icon
{
    background: var(--btn-red);
}
.service .service-item .service-item-inner:hover .icon .fa
{
    font-size: 25px;
    color: #ffffff;
}*/
.service .service-item .service-item-inner h4
{
    font-size: 18px;
    margin-bottom: 15px;
    color: var(--text-black-900);
    font-weight: 700;
    text-transform: capitalize;
}
.service .service-item .service-item-inner p
{
    font-size: 16px;
    color: var(--text-black-700);
    line-height: 25px;

}


.contact-title
{
    color: var(--btn-red);
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}
.contact-sub-title
{
    color: var(--text-black-900);
    text-align: center;
    font-size: 15px;
    margin-bottom: 60px;
}
.contact .contact-info-item
{
    flex: 0 0 33%;
    max-width:33%;
    text-align: center;
    margin-bottom: 60px;
}
.contact .contact-info-item .icon
{
    display: inline-block;
}
.contact .contact-info-item .icon .fa
{
    font-size: 25px;
    color: var(--btn-red);

}
.contact .contact-info-item h4
{
    font-size: 18px;
    font-weight: 700;
    color: var(--text-black-900);
    text-transform: capitalize;
    margin: 15px 0 15px;
}
.contact .contact-info-item p
{
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
    font-weight: 400;
}

.contact .contact-form
{
    flex: 0 0 100%;
    max-width: 100%;
}
.contact .contact-form .col-6
{
  flex: 0 0 50%;
  max-width: 50%;
}
.contact .contact-form .col-12
{
    flex: 0 0 100%;
    max-width: 100%;
}
.contact .contact-form .form-item
{
    margin-bottom: 30px;
}
.contact .contact-form .form-item .form-control
{
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    padding: 10px 25px;
    font-size: 16px;
    color: var(--text-black-700);
    transition: all 0.3s ease;
}
.contact .contact-form .form-item .form-control:focus
{
    box-shadow:  0 0 20px rgba(48, 46, 77, 0.15);
}
.contact .contact-form .form-item textarea.form-control
{
    height: 140px;
}
.contact .contact-form .btn
{
    height: 50px;
    padding: 0 50px;
}

